OPENAI_BASE_URL=
OPENAI_API_KEY=
OPENAI_MODEL_NAME=

export LANGSMITH_TRACING=true
export LANGSMITH_ENDPOINT=https://api.smith.langchain.com
export LANGSMITH_API_KEY=<your-api-key>
export LANGSMITH_PROJECT="pr-flowery-force-88"